<html>
    <head>
        <style>
            body{
  background-color:skyblue;   
}
            .div4{
        margin-left:500px;
        margin-top: 100px;
    }
    .div5{
    margin-left:400px;
}
            </style>
    </head>
    <body>
        <div class="div4">
        <h1>login</h1>        
        </div>
        <br>
        <br>
        <br>
        <div class="div5">
            Username:
            <input type="textbox name="">
            <br>
            <br>
            Password:
            <input type="textbox" name="">
            <br>
            <br>
            &nbsp &nbsp <input type="button" value="submit">
        </div>

    </body>
</html>