<html>
    <head>
        <style>body{
                background-color:skyblue;   
              }
              .div6{
                margin-left:500px;
                margin-top: 100px;
              }
              .div7{
                margin-left:400px;
              }


        </style>
    </head>
    <body>
            <div class="div6">
                Sign-Up
            </div>
            <br>
            <br>
            <div class="div7">
                Name:
                <input type="textbox" value="">
                <br>
                <br>
                Email-Address:
                <input type="textbox" value="">
                <br>
                <br>
                Date-of-birth:
                <input type="date">
                <br>
                <br>
                Blood group:
                <input type="textbox" value="">
                <br>
                <br>
                 Residential Address:
                 <br>
                 <textarea cols='40' rows="5">
                 </textarea>
                 <br>
                 <br> 
                 <input type="submit" value="submit">  
            </div>

    </body>
</html>