<html>
    <head>
        <style>body{
                background-color:skyblue;   
              }
              .div6{
                margin-left:500px;
                margin-top: 100px;
              }
              .div7{
                margin-left:400px;
              }
              .btn3{
                width:250px;
                color:black;
                background-color:gold;


              }


        </style>
    </head>
    <body>
            <div class="div6">
                <h1>Sign-Up</h1>
            </div>
            <br>
            <br>
            <div class="div7">
                Name:
                <input type="textbox" value="">
                <br>
                <br>
                Email-Address:
                <input type="textbox" value="">
                <br>
                <br>
                Date-of-birth:
                <input type="date">
                <br>
                <br>
                Blood group:
                <input type="textbox" value="">
                <br>
                <br>
                 Residential Address:
                 <br>
                 <textarea cols='40' rows="5">
                 </textarea>
                 <br>
                 <br>
                 <div id="p1">
                 Enter password:
                 <input type="password">
                </div>
                 <br>
                 <br>
                 <div id="p2">
                 Confirm password:
                 <input type="password">
                </div>
                 <br>
                 <br> 
                 <button class="btn3" onclick="click()">Submit</button> 
                 <script>
                   
                     function click()
                     {
                       if(document.getElementById('p1').innerHTML==document.getElementById('p2').innerHTML)
                       window.location.href="http://www.google.com";
                       else
                       alert("Wrong password");
                     }
                   
                 </script>
                  
            </div>

    </body>
</html>